<div class="uk-container uk-container-xlarge">
    <h1 class="uk-heading-medium">Binary to Decimal converter</h1>

    <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
    <form action="" [formGroup]="this.form">
        <fieldset class="uk-fieldset">
            <label class="uk-form-label" for="form-stacked-text">Enter Binary number</label>
            <div class="uk-margin">
                <input class="uk-input" type="text" placeholder="Binary" formControlName="b_convert" [class.error]="b_convertControlInvalid">
            </div>
            <div
                class="__error"
                *ngIf="b_convertControlInvalid">
                <p>You must enter a valid number</p>
            </div>
            <button class="uk-button uk-button-default" (click)="onConvertClick()">Convert</button>
        </fieldset>
    </form>   
    {{convertedResult}}
    </div>
</div>


